
@font-face {
  font-family: 'Opificio_Bold';
  src: url('Opificio_Bold.eot'); /* IE9 Compat Modes */
  src: url('Opificio_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Opificio_Bold.woff') format('woff'), /* Modern Browsers */
       url('Opificio_Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Opificio_Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}